body{
    margin:"0";
    display:flex;
    justify-content: center;
    background-color: cadetblue;

}
.form{
    position:absolute;
    top:30%;
    box-shadow: 0 4px 8px rgb(0,0,0,.3);
    width:400px;
    background-color:lavenderblush;
    border-radius: 10px;
}
.input{
    width: 100%;
    box-sizing: border-box;
    padding:20px;
    border-radius: 10px 10px 0 0;
    border:none;
    font-size: 20px;
    font-family: cursive;
}
.input::placeholder{
    color:darkslategrey;
}

.list li{
    list-style-type: none;
    padding: 20px;
    font-family: cursive;
    border-top: dotted;
    color:black;
    position: relative;
}

.list li .fa-trash{
    color:coral;
    position: absolute;
    right:10px;
    top:50%;
    transform: translate(-50%);
    cursor:pointer;
}

.list li .fa-check-square{
    color:darkgreen;
    position: absolute;
    right:40px;
    top:50%;
    transform: translate(-50%);
    cursor:pointer;
}

.list li.checked{
    color:dimgray;
    text-decoration: line-through;
}
.list li.checked .fa-check-square{
    color:dimgray;
}